.back {
  width: 28px;
  cursor: pointer;
}

.title {
  margin: 16px 0 8px;
  padding: 0 16px;
  font-size: 24px;
}

textarea,
input[name="title"] {
  width: calc(100% - 32px);
  height: 32px;
  line-height: 32px;
  margin: 0 auto;
  display: block;
  border: none;
}

input[name="title"] {
  padding-left: 8px;
  border-bottom: 1px solid #cecece;
}

textarea {
  border: 1px solid #cecece;
  border-radius: 8px;
  margin-bottom: 16px;
  padding: 8px;
  resize: none;
  height: 200px;
}

textarea:not(:read-only):focus,
input[name="title"]:focus {
  border-color: #fc596c;
}

.submit {
  width: calc(100% - 16px);
  height: 48px;
  border: none;
  border-radius: 8px;
  background-color: #fc596c;
  color: #ffffff;
  margin: 0 auto 24px;
  cursor: pointer;
  display: block;
}
