.title {
  padding: 20px 16px;
  font-size: 24px;
  color: white;
  background-color: #fc596c;
}

.title img {
  width: 28px;
  float: right;
  cursor: pointer;
}

.create-wrapper {
  padding: 16px;
  display: flex;
  justify-content: space-between;
}

.create-wrapper input {
  width: 80%;
  height: 30px;
  border: none;
  border-bottom: 1px solid #cecece;
  font-size: 24px;
}

.create-wrapper input:focus {
  border-color: #fc596c;
}

.todo-wrapper {
  padding: 0 16px 16px;
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #cecece;
}

.todo-wrapper:last-of-type {
  border: none;
}

.todo {
  width: 70%;
  font-size: 24px;
  cursor: pointer;
}

.todo:hover {
  color: #fc596c;
}

.todo-options img {
  width: 25px;
  cursor: pointer;
}

.todo-options img:first-of-type {
  margin-right: 12px;
}
