.header {
  width: 1000px;
  padding: 20px 16px;
  font-size: 24px;
  color: white;
  background-color: #fc596c;
  position: fixed;
  top: inherit;
}

.plus {
  width: 28px;
  float: right;
  cursor: pointer;
}

.create-wrapper {
  padding: 16px;
  display: flex;
  justify-content: space-between;
}

.create-wrapper input {
  width: 80%;
  height: 30px;
  border: none;
  border-bottom: 1px solid #cecece;
  font-size: 24px;
}

.create-wrapper input:focus {
  border-color: #fc596c;
}

.todo-wrapper {
  padding: 0 16px 16px;
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #cecece;
}

.todo-wrapper:last-of-type {
  border: none;
}

.todo {
  width: 100%;
  border: 1px solid #cecece;
  border-radius: 8px;
  padding: 8px;
  font-size: 24px;
  cursor: pointer;
  margin-bottom: 24px;
}

.todo:hover {
  color: #fc596c;
  border-color: #fc596c;
}

.todo-options {
  width: fit-content;
  margin: 0 auto;
}

.todo-options button {
  border: none;
  width: 100px;
  height: 50px;
  border-radius: 8px;
  color: white;
  background-color: #fc596c;
  cursor: pointer;
}

.todo-options button:first-of-type {
  margin-right: 12px;
  background-color: #1a2980;
}

.container {
  display: flex;
  margin-top: 68px;
  height: calc(100% - 68px);
}

.container > div {
  flex: 1;
  height: 100%;
  padding: 16px;
  overflow: auto;
}

.container > div:first-of-type {
  border-right: 1px solid #cecece;
}

.desc {
  font-size: 14px;
  color: #cecece;
  padding: 0 16px;
}
