.wrapper {
  width: 500px;
  height: fit-content;
  box-shadow: 0 0 5px #2222225f;
  padding: 0 16px;
}

.mode-wrapper {
  display: flex;
  font-size: 36px;
  margin-top: 32px;
  color: rgb(170, 170, 170);
  margin-bottom: 24px;
}

.mode-wrapper button {
  display: flex;
  background-color: transparent;
  border: none;
  font-size: 36px;
  color: rgb(170, 170, 170);
}

.mode-wrapper button:first-of-type {
  margin-right: 16px;
}

.mode-wrapper button:last-of-type {
  margin-left: 16px;
}

.active {
  color: #222222 !important;
}